services:
  # --- Redis for Ingress queue ---
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # caddy:
  #   image: livekit/caddyl4
  #   command: run --config /etc/caddy.yaml --adapter yaml
  #   restart: unless-stopped
  #   network_mode: "host"
  #   volumes:
  #     - ./caddy/caddy.yaml:/etc/caddy.yaml
  #     - ./caddy_data:/data
  livekit:
    image: livekit/livekit-server:v1.9.3
    command: --config /etc/livekit.yaml
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./livekit/livekit.yaml:/etc/livekit.yaml
  ingress:
    image: livekit/ingress:latest
    restart: unless-stopped
    environment:
      - INGRESS_CONFIG_FILE=/etc/ingress.yaml
    network_mode: "host"
    volumes:
      - ./ingress/ingress.yaml:/etc/ingress.yaml

  egress:
    image: livekit/egress:latest
    restart: unless-stopped
    environment:
      - EGRESS_CONFIG_FILE=/etc/egress.yaml
    network_mode: "host"
    volumes:
      - ./egress/egress.yaml:/etc/egress.yaml
      - /home/dylan/workspace/github.com/dylan/livekit-local/recordings:/out
    cap_add:
      - CAP_SYS_ADMIN

  backend:
    network_mode: host
    build: ./backend
    container_name: backend-server
    restart: always
    env_file: ./backend/.env
