# LIVEKIT_API_KEY=APImCmFNbQ57ax4
# LIVEKIT_API_SECRET=sTxOlHJ1o5bA9vML0HaYiXp5ka0LvK9JuRIHdnUtAWB
# LIVEKIT_API_URL=https://livekit.s9test.mooo.com
# LIVEKIT_WS_URL=wss://livekit.s9test.mooo.com


LIVEKIT_API_KEY=key1
LIVEKIT_API_SECRET=supersecretkeythatlongenough1234567890
LIVEKIT_API_URL=http://localhost:7880
LIVEKIT_WS_URL=ws://localhost:7880

S3_BUCKET=
S3_REGION=
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# # true nếu dùng MinIO local / Spaces
S3_FORCE_PATH_STYLE=true