NODE_ENV=development
RTMP_PORT=1935
HTTP_PORT=8002
FASTIFY_PORT=8888
SERVER_API_URL=http://server:3002/api/v1

#API Auth
API_USER=admin
API_PASS=admin

# Local Storage
STORAGE_TYPE=local
LOCAL_MEDIA_ROOT=./media
LOCAL_RECORDINGS_PATH=./media/recordings
LOCAL_TEMP_PATH=./media/temp

# Logging
LOG_LEVEL=debug
LOG_TO_FILE=true

FFMPEG_PATH=/usr/local/bin/ffmpeg